<!DOCTYPE html>
<html lang = "en">
<head>
<link rel="stylesheet" href="mystyle.css">
<meta charset = "utf-8" />
<title>Postage Calculator</title>
<style>
</style>

</head>
<body>

<hr>
<form>

  <label>Weight (in oz): </label> <input type="number" name="weight">
<label>Package Type: </label>  <select name="Postage">
  <option value="LettersStamped">Letters (Stamped)</option>
  <option value="LettersMettered">Letters (Metered)</option>
  <option value="LargeEnvelopes">Large Envelopes (Flats)</option>
  <option value="Parcels">Parcels</option>
</select>
<br></br>
<input type="submit">
</form>



</body>
</html>