<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="mystyle.css">
	<title>Postage Cost</title>
</head>
<h1>Total Cost</h1>
<hr></hr>
<body>
	<p>The cost of sending a <%= weight %> oz. <%= PostageType %> is $<%= cost %></p>
</body>
</html>